*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.top{
    display: flex;
    gap: 3rem;
    align-items: flex-end;
}

a{
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    width: 12rem;
    margin-top: 3rem;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

h1{
    display: inline-block;
    text-align: center;
    margin-bottom: .5rem;
}

#answerarea{
    display: flex;
    justify-content: center;
    gap: 5rem;

}

.answer{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
}


#colorArea{
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
    border-radius: 10px;
}

